<html>
	<head>
		<title>All The Ideas</title>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<style type="text/css">
			p {
				padding: 50px;
				font-size: 32px;
				font-weight: bold;
				text-align: center;
				background: #f2f2f2;
			}
		</style>
	</head>
	<body>
		<h1>Ideas</h1>
		{% for idea in ideas %}
		<div class="col-sm-6 col-md-4 col-lg-3" height="200px"><p>"{{ idea.idea }}"<br>- {{ idea.author }}</p></div>
		{% endfor %}

		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</body>
</html>
